<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap" rel="stylesheet">
    
    <title>ToDo List</title>
</head>
<body class="simple">

    <div class="change">
        <a href="/pro">Professional Tasks</a>
    </div>

<div class="container">

   <div class="item-1">
    <h1 class="myName"> <%=name%>'s <br> Daily TODO <br> LIST </h1>
   </div>

    <div class="item-2">
        

      
      <% if (tasks.length) { %>
         <ul >
            <% for (var i =0; i< tasks.length; i++) { %>
                <li class="todo"> <input type="checkbox" name="check" value=" <%= tasks[i] %>"> <%=tasks[i]%> </li> 
            <% } %>
         </ul>
      <% } %>
       
   
    <form action="/add" method="post" class="myForm">
       <input type="text" name="newtask" placeholder=" Add a new Task :) ">
       <input type="submit" value="Add Task">
    </form>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/styles/app.js"></script>
</body>
</html>