ul{
    list-style: none;
}

.strike{
   text-decoration: line-through;
}

.pro{
    background-color: rgb(154, 97, 97);
}

.container{
    display: flex;
    justify-content: space-between;
}

.change{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
    position: fixed;

}

.myName{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 90px;
    margin-left: 40px;
    margin-top: 100px;
}

.item-2{
    display: flex;
    margin-top: 100px;
    margin-right: 300px;
}

.todo{
    font-family: 'Source Code Pro', monospace;
    font-weight: 100px;
    font-size: 20px;
}

input[type="checkbox"]{
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 0.5em;
    height: 0.5em;
    border: 0.1em solid currentColor;
    border-radius: 0.1em;
}

input[type="text"]{
    border: none;
    height: 20px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

input[type="submit"]{
    border: none;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 50px;
    
}

.myForm{
    margin-top: 100px;
    margin-left: 100px;
}


